// fonts
@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.eot');
    src: url('../fonts/FREESCPT.eot') format('embedded-opentype'),
         url('../fonts/FREESCPT.woff2') format('woff2'),
         url('../fonts/FREESCPT.woff') format('woff'),
         url('../fonts/FREESCPT.ttf') format('truetype'),
         url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans/opensans.woff') format('woff'),
        url('../fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// colors
$textColor: #555;
$colorSheme: #5363db;
$whiteText: #fff;
$inputBg: #f2f2f2;
$copyrightBg: #5363d8;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// body styles
body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $textColor;
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
section {
    width: 100%;
    padding: 100px 0;
    .subtitle {
        font-family: 'FREESCPT', serif;
        letter-spacing: .5px;
        line-height: 1.5;
        font-size: 40px;
    }
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
}
.title-row {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 56px;
}
.col {
    width: 50%;
    padding: 0 46px;
    &:only-child {
        width: 100%;
        text-align: center;
    }
}
H1 {
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 43px;
}
h2 {
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: $colorSheme;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
a {
    line-height: 1.6;
    display: inline-block;
    text-decoration: none;
    color: $textColor;
}
.btn {
    background: $colorSheme;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: $whiteText;
    cursor: pointer;
    position: relative;
    transition: opacity .5s;
    &:hover {
        opacity: .85;
    }
}

// header
header {
    padding: 13px 0;
    position: relative;
    z-index: 3;
    .container {    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        img {
            width: 70px;
            padding-top: 5px;
        }
    }
}
.menu {
    input {
        display: none;
        &:checked ~ .menu-btn {
            span {
                transform: rotate(45deg);
                &::before {
                    top: 0;
                    transform: rotate(0);
                }
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
        &:checked ~ .menu-box {
            transform: scaleY(1);
            transform-origin: top;
        }
    }
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
            &::before {
                content: '';
                top: -8px;    
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background: #616161;
                transition: transform .5s;
            }
            &::after {
                content: '';
                top: 8px;
                position: absolute;
                width: 100%;
                height: 2px;
                background: #616161;
                transition: transform .5s;
            }
        }
    }
    .menu-box {
        list-style: none;
        padding: 0;
        display: flex;
        li {
            padding-left: 30px;
        }
        a {
            position: relative;
            color: $textColor;
            transition: color .5s;
            &:hover {
                color: $colorSheme;
            }
            &::after {
                position: absolute;
                display: flex;
                content: "";
                height: 2px;
                width: 0%;
                left: 50%;
                bottom: -5px;
                transform: translate(-50%);
                background-color: $colorSheme;
                transition: width .5s ease-in-out;
            }
        }
        a:hover:after,
        a:focus:after {
            width: 60%;
        }
    }
}

// form-cta
.form-cta {
    position: relative;
    background: url(../img/bg-01.jpg) center center / cover no-repeat;
    &::before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(83, 99, 219, .8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .cta {
        color: $whiteText;
    }
}
.form {
    display: flex;
    justify-content: flex-end;
    form {
        width: 300px;
        display: flex;
        flex-direction: column;
        background: $whiteText;
        border-radius: 20px;
        padding: 27px 30px 35px;
        h2 {
            text-transform: none;
            margin-bottom: 17px;
            letter-spacing: 1px;
            font-size: 26px;
            font-weight: 400;
        }
        .submit {
            display: flex;
            justify-content: flex-end;
            margin-top: 19px;
        }
    }
}
.form-group {
    width: 100%;
    input {
        width: 100%;
        height: 50px;
        margin-bottom: 16px;
        border: none;
        border-radius: 5px;
        background: $inputBg;
        padding: 0 10px;
        &:focus {
            outline: none;
        }
    }
    select {
        width: 100%;
        height: 50px;
        margin-bottom: 16px;
        padding: 0 8px;
        border: none;
        border-radius: 5px;
        background: $inputBg;
        &:focus {
            outline: none;
        }
    }
}

// programm
.programm {
    .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .classes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        .classes-item {
            width: 50%;
            margin: 0 0 30px;
            &:nth-child(odd) {
                padding: 0;
                padding-right: 15px;
            }
            &:nth-child(even) {
                padding: 0;
                padding-left: 15px;
            }
        }
    }
}
.classes-inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #cecece;
    .classes-img {
        width: 50%;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        padding-bottom: 47%;
    }
    .classes-info {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        width: 50%;
        p {
            padding: 35px 0 20px;
        }
        a {
            position: relative;
            &:last-child {
                color: #999;
            }
            &::after {
                position: absolute;
                display: flex;
                content: "";
                height: 2px;
                width: 0%;
                left: 0;
                bottom: -5px;
                background-color: $textColor;
                transition: width .5s ease-in-out;
            }
            &:hover::after {
                width: 45%;
            }
        }
    }
}

// gallery
.gallery {
    padding: 0;
}
.gallery-box {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        position: relative;
        width: 25%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            opacity: 0;
            display: block;
            cursor: pointer;
            background: rgba(83, 99, 219, .8);
            transition: opacity .5s;
        }
        &:hover::before {
            opacity: 1;
        }
        &:hover > i {
            opacity: 1;
        }
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            display: block;
            opacity: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 18px;
            color: $colorSheme;
            line-height: 40px;
            text-align: center;
            background: $whiteText;
            transform: translate(-50%, -50%);
            transition: opacity .5s;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

// about
.about {
    padding: 170px 0;
    .container {
        display: flex;
        align-items: center;
    }
    .about-info {
        h2 {
            margin-bottom: 20px;
        }
    }
    .about-slick {
        padding: 0 15px;
        .slick-list {
            border-radius: 10px;
            box-shadow: 9px 9px 9px rgba(0,0,0,.1);
        }
        .slick-prev, .slick-next {
            background: $whiteText;
            border-radius: 50%;
            color: $colorSheme;
            width: 50px;
            height: 50px;
            z-index: 1;
            box-shadow: 9px 9px 9px rgba(0,0,0,.1);
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                display: block;
                border-top: 3px solid $colorSheme;
                border-right: 3px solid $colorSheme;
            }
        }
        .slick-prev {
            right: 0;
            &::before {
                transform: rotate(-135deg);
                margin-left: 20px;
            }
        }
        .slick-next {
            right: -25px;
            &::before {
                transform: rotate(45deg);
                margin-left: 15px;
            }
        }
        .single-item {
            padding-top: 300px;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

// elements
.elements {
    background: url(../img/bg-02.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    color: $whiteText;
    &::before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(83, 99, 219, .8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .elements-box {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        .elements-item {
            width: 25%;
            padding: 0 15px;
            margin-bottom: 55px;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
    }
}
.elements-item {
    .icon-box {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .elements-info {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: space-between;
        h3 {
            padding: 30px 0 25px;
        }
    }
}

// shop
.shop {
    background: url(../img/bg-03.jpg) 100% 100% no-repeat;
}
.shop-box {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    .shop-item {
        width: calc(100% / 3);
        padding: 0 15px;
        .shop-inner {
            background: $whiteText;
            box-shadow: 9px 9px 50px rgba(0,0,0,.1);
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            font-size: 18px;
            padding-bottom: 50px;
        }
    }
    .tarif {
        width: 100%;
        background: $colorSheme;
        color: $whiteText;
        padding: 50px 0;
        span {
            font-weight: 700;
            &:first-child {
                position: relative;
                font-size: 35px;
                margin-right: 20px;
                top: -15px;
            }
            &:nth-child(2) {
                font-size: 67px;
            }
            &:last-child {
                text-transform: uppercase;
            }
        }
    }
    ul {
        list-style: none;
        padding: 50px 0;
        text-align: center;
        li {
            text-transform: uppercase;
            line-height: 4;
            &::after {
                content: '';
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 40%;
                height: 1px;
                background: #d7d7d7;
            }
            &:last-child::after {
                content: none;
            }
        }
    }
    a {
        color: $whiteText;
        background: $colorSheme;
        border-radius: 20px;
        padding: 16px 0;
        width: 170px;
        transition: opacity .5s;
        &:hover {
            opacity: .85;
        }
    }
}

// footer
footer {
    padding: 100px 0 0;
    background: $colorSheme;
    color: $whiteText;
    .top-footer {
        i {
            padding-right: 15px;
            font-size: 22px;
            transition: transform .5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        .row {
            width: 100%;
            &:first-child {
                padding-bottom: 50px;
            }
        }
        .col {
            padding: 0 30px;
        }
        p {
            padding: 60px 0 70px;
        }
        .phones {
            display: flex;
            i {
                font-size: 24px;
                padding-top: 5px;
                padding-right: 15px;
            }
        }
        .social {
            list-style: none;
            padding: 0;
            padding-bottom: 100px;
            padding-left: 30px;
            display: flex;
            li {
                margin-right: 15px;
                i {
                    font-size: 24px;
                }
            }
        }
    }
    .contacts {
        display: flex;
        .col {
            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .adress {
            display: flex;
            i {
                padding-right: 15px;
                font-size: 22px;
            }
        }
        a {
            color: $whiteText;
            transition: color .5s;
            &:hover {
                color: #cecece;
            }
        }
    }
    .net-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .net-links-box {
            display: flex;
            align-items: center;
            transition: color .5s;
            &:hover {
                color: #cecece;
            }
            &:first-child {
                padding-bottom: 70px;
            }
            &:last-child {
                padding-bottom: 20px;
            }
        }
    }
    .copyright {
        position: relative;
        background: $copyrightBg;
        text-align: center;
        padding: 40px 0;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba(0,0,0,.1);
        }
    }
}

// responsive
@media (max-width: 992px) {
    .shop-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .shop-box .shop-item {
        width: calc(100% / 2);
        margin-bottom: 30px;
    }
    footer .top-footer .row {
        display: block;
    }
    footer .top-footer .col {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .col {
        width: 100%;
    }
    header .logo img {
        width: 50px;
    }
    .menu .menu-btn {
        opacity: 1;
    }
    .menu .menu-box {
        transition: transform .5s;
        background: $whiteText;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100%;
        transform: scaleY(0);
        transform-origin: top;
        // top: -300%;
        top: 80px;
        z-index: 3;
    }
    .menu .menu-box li {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .form-cta .container {
        flex-direction: column;
    }
    .form {
        margin-bottom: 50px;
    }
    .form form {
        width: 100%;
    }
    .cta {
        text-align: center;
    }
    .gallery-box .gallery-item {
        width: 50%;
    }
    .about .container {
        flex-direction: column;
    }
    .about .about-info {
        margin-bottom: 30px;
    }
    .about .about-slick .slick-slider {
        width: 95%;
        margin: 0 auto;
    }
    .elements .elements-box .elements-item {
        width: 50%;
    }
    .shop-box .shop-item {
        width: 100%;
    }
    footer .top-footer .row {
        padding-bottom: 100px;
    }
    footer .top-footer .col {
        padding: 0;
    }
    footer .contacts .adress {
        padding: 20px 0;
    }
    footer .net-links .net-links-box:last-child {
        padding-bottom: 10px;
    }
    footer .net-links .net-links-box:first-child {
        padding-bottom: 20px;
    }
    footer .top-footer .social {
        padding-left: 0;
    }
}
@media (max-width: 570px) {
    section, .about {
        padding: 50px 0;
    }
    .col {
        padding: 0;
    }
    h1 {
        font-size: 36px;
        line-height: 50px;
    }
    section .subtitle {
        line-height: 1;
        font-size: 28px;
    }
    .programm .classes .classes-item {
        width: 100%;
    }
    .programm .classes .classes-item:nth-child(odd) {
        padding-right: 0;
    }
    .programm .classes .classes-item:nth-child(even) {
        padding-left: 0;
    }
    .classes-inner img {
        max-width: 200px;
    }
    .about .about-slick .single-item {
        padding-top: 200px;
    }
    .elements .elements-box .elements-item {
        width: 100%;
    }
    footer {
        padding: 50px 0 0;
    }
    footer .contacts {
        flex-direction: column;
    }
    footer .top-footer .row {
        padding-bottom: 50px;
    }
    footer .top-footer .social {
        padding-bottom: 0;
    }
    footer .contacts .net-links {
        padding-top: 20px;
    }
}