// fonts
@font-face {
    font-family: 'FREESCPT';
    src: url('../fonts/FREESCPT.eot');
    src: url('../fonts/FREESCPT.eot') format('embedded-opentype'),
         url('../fonts/FREESCPT.woff2') format('woff2'),
         url('../fonts/FREESCPT.woff') format('woff'),
         url('../fonts/FREESCPT.ttf') format('truetype'),
         url('../fonts/FREESCPT.svg#FREESCPT') format('svg');
}

// colors
$textColor: #555;
$colorSheme: #5363db;
$whiteText: #fff;
$inputBg: #f2f2f2;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// body styles
body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $textColor;
}
section {
    width: 100%;
    padding: 100px 0;
    .subtitle {
        font-family: 'FREESCPT', serif;
        font-size: 40px;
    }
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
}
.title-row {
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.col-6 {
    width: 50%;
    padding: 40px;
    &:only-child {
        width: 100%;
        text-align: center;
    }
}
H1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
h2 {
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: $colorSheme;
}
a {
    line-height: 1.6;
    display: inline-block;
    text-decoration: none;
    color: $textColor;
    transition: color .5s;
    &:hover {
        color: $colorSheme;
    }
    &::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: $colorSheme;
        transition: width .5s ease-in-out;
    }
}
a:hover:after,
a:focus:after {
    width: 100%;
}
.btn {
    background: $colorSheme;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: $whiteText;
}

// header
header {
    padding: 16px 0;
    .container {    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        a {
            &::after {
                content: none;
            }
        }
        img {
            width: 70px;
        }
    }
    .menu {
        width: 470px;
        .menu-box {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}

// form-cta
.form-cta {
    position: relative;
    background: url(../img/bg-01.jpg) center center / cover no-repeat;
    &::before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(83, 99, 219, .8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .form {
        display: flex;
        justify-content: flex-end;
        form {
            width: 300px;
            display: flex;
            flex-direction: column;
            background: $whiteText;
            border-radius: 20px;
            padding: 30px 35px;
            .form-group {
                width: 100%;
                input {
                    width: 100%;
                    height: 50px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 5px;
                    background: $inputBg;
                    padding: 0 10px;
                    &:focus {
                        outline: none;
                    }
                }
                select {
                    width: 100%;
                    height: 50px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 5px;
                    background: $inputBg;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .submit {
                display: flex;
                justify-content: flex-end;
                margin-top: 25px;
            }
        }
    }
    .cta {
        color: $whiteText;
    }
}

// about
.about {
    .row {
        flex-wrap: wrap;
    }
    .classes {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-width: 270px;
        }
        .classes-info {
            padding: 33px 20px;
        }
    }
}